@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Szevaaaa</h1>
    <p>tűz van <a href="https://en.wikipedia.org/wiki/Fire">building Web apps with ASP.NET Core</a>.</p>
</div>
